/* Accordion element based on: https://codepen.io/abergin/pen/ihlDf?editors=1100 */

.accordion-element__content, 
.accordion-element__icon:before, 
.accordion-element__icon:after {
    transition: all 0.25s ease-in-out;
}

.accordion-element {
	position: relative;
}

.accordion-element__checkbox {
	margin: 0;
	position: absolute;
	cursor: pointer;
	width: 100%;
	height: 100%;
	z-index: 1;
	opacity: 0;
}

.accordion-element__title {
	padding: 1em 0;
	border-bottom: 1px solid rgba(0,0,0,0.2);
	text-transform: uppercase;
	text-align: left;
	cursor: pointer;
}

.accordion-element__icon {
	position: absolute;
	transform: translate(-1em, 0);
    margin-top: 1.3em;
	right: 0;
}

.accordion-element__icon:before,
.accordion-element__icon:after {
	position: absolute;
	display: block;
	content: "";
    background: #ffa000;
    width: 3px;
    height: 9px;
}

.accordion-element__icon:before {
	transform: translate(-2px, 0) rotate(45deg);
}

.accordion-element__icon:after {
	transform: translate(2px, 0) rotate(-45deg);
}

.accordion-element__checkbox:checked ~ .accordion-element__icon:before {
	transform: translate(2px, 0) rotate(45deg);
}

.accordion-element__checkbox:checked ~ .accordion-element__icon:after {
	transform: translate(-2px, 0) rotate(-45deg);
}

.accordion-element__content {
	text-align: left;
}

.accordion-element__text {
	margin-top: 0.7em;
}

.accordion-element__text:last-child {
	margin-bottom: 2em;
}

.accordion-element__list-title {
	font-weight: bold;
}

.accordion-element__list-item {
	display: list-item;
	list-style-type: decimal;
	margin-left: 26px;
}

.accordion-element__checkbox:checked ~ .accordion-element__content {
	/*max-height: 0;
	opacity: 0;
    transform: translate(0, 50%);*/ /* tutaj trzeba pokombinować z transform i transition, żeby to dobrze wyglądało */
	display: none;
}